<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CraveCrafters-About</title>
        <link rel="shortcut icon" href="/images/logo.png" image/x-icon">
        <link rel="stylesheet" href="/css/About.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer">
            </head>

    <body>
        <section id="pic">
            <section id="header">
              <a href="#"><img src="/images/logo1.png" class="logo" alt="" width="150"></a>
              <div>
                  <ul id="navbar">
                      <li><a href="Home.html">Home</a></li>
                      <li><a href="Login1.html">Login</a></li>
                      <li><a class="active" href="About.html">About</a></li>
                      <li><a href="contact.html">Contact</a></li>
                      <li id="lg-bag"><a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a></li>
                      <a href="Cart.html" id="close"><i class="fa-solid fa-xmark" style="color: #cb202d;"></i></a>
                  </ul>
              </div>
              <div id="mobile">
                  
                  <a href="cart.html" style="color: #1a1a1a;"><i class="fa-solid fa-bag-shopping"></i></a>
                  <i id="bar" class="fas fa-outdent"></i>
              </div>
            </section>
        <section id="hero">
            <div>
                <h2>About <span class="r">CraveCrafters</span></h2>
                <p style="font-size: 1.5rem;">CraveCrafters is your go-to destination for authentic Indian cuisine, where tradition meets innovation. Our restaurant was founded by a team of food enthusiasts passionate about bringing the rich and diverse flavors of India to a global audience. Every dish we serve is a celebration of India’s culinary heritage, crafted with the finest ingredients and traditional recipes that have been passed down through generations.</p>
                <br>
                <p style="font-size: 1.5rem;">At CraveCrafters, we believe that food is more than just nourishment; it’s an experience that connects people and cultures. Our menu is a vibrant tapestry of India’s regional specialties, from spicy street food to rich, aromatic curries. Each dish is prepared with care by our skilled chefs, who combine time-honored techniques with a modern flair, ensuring a dining experience that is both authentic and exciting.</p>
                <br>
                <p style="font-size: 1.5rem;">We are committed to sustainability and quality, sourcing our ingredients responsibly and minimizing our environmental impact. Whether you’re dining with us or enjoying our food at home, CraveCrafters invites you to embark on a flavorful journey through the heart of India.</p>
            </div>
        </section>
        </section>
        <script src="/js/About.js"></script>
    </body>
    </html>