@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}


h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}
button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
button.white{
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}
#pic{
  background-image: url();
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center; 
  height: 133vh; 
  margin: 0;
 
 
}
#header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color:rgba(226, 215, 215, 0.252);
    
    color: #e9e4d5;
    padding: 1rem;
    filter: brightness(1.8) ;
    z-index: 999;
    position: static;
    top:0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}#navbar li a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 800;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #cb202d;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #cb202d;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
.one{
    color: #cb202d;
}
#mobile{
  display: none;
  align-items: center;
}
#close{
  display: none;
}

#cart table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;

}
#cart table img{
  width: 80px;
  padding-top: 10px;  
}
#cart table td:nth-child(1){
  width: 100px;
  text-align: center;

}
#cart table td:nth-child(2){
  width: 150px;
  text-align: center;

}
#cart table td:nth-child(3){
  width: 250px;
  text-align: center;

}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
  width: 150px;
  text-align: center;

}
#cart table td:nth-child(5) input{
  width: 70px;
  padding:10px 5px 10px 15px;
}
#cart table thead{
  border: 1px solid #dfe4de;
  border-left: none;
  border-right: none;
}
#cart table thead td{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0px;
}
#cart table tbody tr td{
  padding: 15px;
}
#cart table tbody td{
  font-size: 13px;
}
#cart-add{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

#coupon{
  width: 50%;
  margin-bottom: 30px;
}

#coupon h3,
#subtotal h3{
  padding-bottom: 15px;
}
#coupon input{
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #dfe4de;
}
#coupon button{
  background-color: #cb202d;
  color: #fff;
  padding: 12px 20px;
}
#coupon button:hover{
  background-color: #F3B95F;
  color: #fff;
}
#subtotal{
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #dfe4de;
  padding: 30px;
}
#subtotal table{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
#subtotal table td{
  width: 50%;
  border: 1px solid #dfe4de;
  padding: 10px;
  font-size: 13px;
}
#subtotal button{
  background-color: #cb202d;
  color: #fff;
  padding: 12px 20px;
}
#subtotal button:hover{
  background-color: #F3B95F;
  color: #fff;
  border: none;
}
footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #d3d0d0;
}
footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .logo{
  margin-bottom: 30px;
}
footer h4{
  font-size: 14px;
  padding-bottom: 20px;
}
footer p{
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a{
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
  margin: 0 0 8px 0;
}
footer .follow{
  margin-top: 20px;
}
footer .follow i{
  color:#465b52;
  padding-right: 4px;
  cursor: pointer;

}
footer .install .row img{
  border: 1px solid #088178;
  border-radius: 6px;
}
footer .install img{
  margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover{
  color: #088178;
}
footer .copyright{
  width: 100%;
  text-align: center;
}
@media (max-width:799px){
  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color:#F3B95F ;
    box-shadow: 0 40px 60px rgba(0,0,0,0.1);
    padding: 80px 0 0 10px;
    transition: 0.8s;

  }
  #navbar.active{
    right: 0px;
  }
  #navbar li{
    margin-bottom: 25px;
  }
  #mobile{
    display: flex;
    align-items: center;
  }
  #mobile i{
    font-size: 24px;
    padding-left: 20px;
  }
  #close{
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;

  }
  #lg-bag{
    display: none;
  }
  
}
@media (max-width:600px){
  #header{
    padding: 10px 30px;
  }
  #header .logo{
    width: 50px;
  }
  
}
.address-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.address-option input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  width: 200px;
}

.address-option .normal {
  cursor: pointer;
}

.selected {
  border: 2px solid blue;
  background-color: #e0f7ff;
}
